extends layout

block content
  div.carDetailContent
    h1= title

    ul
      li Description: #{car.description}
      li Trim: #{car.trim}
      li Price: $#{car.price}
      li In-Stock: #{car.stock}

    a(href=`/catalog/cars/${car.id}/update`) Update Car
    a(href='/catalog/cars') Return To Cars
    a(href=`/catalog/cars/${car.id}/delete`) Delete Car