extends layout

block content
  div.carDeleteContent
    h1= title

    ul
      li Name: #{car.name}
      li Description: #{car.description}
      li Trim: #{car.trim}
      li Price: $#{car.price}
      li In-Stock: #{car.stock}

    p Are you sure you want to delete this car?

    form(method='POST' action='')
      input(type='hidden', name="carid", required='true', value=car._id)
      button(type='submit') Delete