extends layout

block content
  h1= title

  div
    a(href="/catalog/cars") Cars
    p=data.cars_count

  div
    a(href='/catalog/trucks') Trucks
    p=data.trucks_count

  div
    h2 Energy
    p=data.energy_count

  div
    h2 Charging
    p=data.charging_count

  div
    h2 Accessories
    p=data.accessory_count