extends layout

block content
  div.catalogContent
    h1= title

    div
      img(src="/images/model-y.webp")
      a(href="/catalog/cars") Cars
      p #{data.cars_count} Car(s)

    div
      img(src="/images/semi.webp")
      a(href='/catalog/trucks') Trucks
      p #{data.trucks_count} Truck(s)

    div
      img(src="/images/solar-roof.jpeg")
      a(href='/catalog/energy') Energy
      p #{data.energy_count} Energy Product(s)

    div
      img(src="/images/supercharger.jpeg")
      a(href='/catalog/charging') Charging
      p #{data.charging_count} Charging Product(s)

    div
      img(src="/images/interior.jpeg")
      a(href='/catalog/accessory') Accessories
      p #{data.accessory_count} Vehicle Accessories