extends layout

block content
  h1= title

  div
    h2 Cars
    p=data.cars_count

  div
    h2 Trucks
    p=data.trucks_count

  div
    h2 Energy
    p=data.energy_count

  div
    h2 Charging
    p=data.charging_count

  div
    h2 Accessories
    p=data.accessory_count