extends layout

block content
  div.chargingDeleteContent
    h1= title

    ul
      li Name: #{charging.name}
      li Description: #{charging.description}
      li Price: $#{charging.price}
      li In-Stock: #{charging.stock}
      li Compatible:
        div
          each product in charging.compatible
            p #{product}

    p Are you sure you want to delete this energy product?

    form(method='POST' action='')
      input(type='hidden', name="chargingid", required='true', value=charging._id)
      button(type='submit') Delete