extends layout

block content
  div.truckListContent
    h1= title

    ul
      each truck in truck_list
          li.truckListItem
            a(href=truck.url) #{truck.name}
            p Trim: #{truck.trim}
            p Price: $#{truck.price}

    a(href="/catalog/trucks/create") Add New Truck
